form {
    margin : 10px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.write-todo {
    width: 50%;
    font-size: 1.8rem;
    padding:10px;
    outline: none;
}

.add-todo {
    width: fit-content;
    margin-top: 2px;
    font-size:1.5rem;
    border:none;
    border-radius: 10px;
    background-color: darkblue;
    color:white;
    cursor: pointer;
    padding:10px;
}